html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Imagen responsive */
.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* CLAVE */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Botones encima de la imagen */
.btn-3d {
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);

  padding: 15px 40px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: rgb(36, 76, 86);
  color: white;
  cursor: pointer;

  box-shadow: 0 8px 0 rgb(49,68,72);
}

.btn-3d:active {
  transform: translate(-50%, -42%);
  box-shadow: 0 0 0 rgb(49,68,72);
}

#acerca {
  position: absolute;
  top: 20%;
  left: 45%;
  transform: translate(-50%, -50%);
}

#proyectos {
  position: absolute;
  top: 40%;
  left: 35%;
  transform: translate(-50%, -50%);
}

#habilidades {
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
}
#contacto {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
}


/* Fondo oscuro */
.modal {
  display: none;               /* oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: transparent;
  justify-content: center;
  align-items: center;

}

/* Caja del modal */
.modal-contenido {
  background: rgba(0, 0, 0, 0.5);
  color: bisque;
  padding: 30px;
  border-radius: 12px;
  max-width: 650px;
  position: relative;
  animation: aparecer 0.5s ease-in-out;
  top: 0px;
  left: 19%;

}


/* Botón cerrar */
.cerrarModal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* Animación */
@keyframes aparecer {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.columnas-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#imgModal{
  width: 400px;
  height: 260px;
}
#imgModalImp{
  width: 200px;
  height: 150px;
}

.col-texto {
  flex: 1;               
}

h2{
  background-color: bisque;
  color: black;
}

.pagina {
  display: none;
}

.pagina.activo {
  display: block;
}

.acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.acciones button{
  background-color: transparent;
  color: bisque;
}

.oculto{
  visibility: hidden;
}

.datos {
  border: 2px solid rgb(4, 4, 49);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form-control{
  background-color:rgb(194, 176, 176);
}

.btn-enviar {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: rgb(36, 76, 86);
  color: bisque;
  cursor: pointer;
  box-shadow: 0 8px 0 rgb(49,68,72);
}

.btn-enviar:active {
  box-shadow: 0 0 0 rgb(49,68,72);
}

.sin-fondo-title{
  background: none!important;

}