html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  #container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;   /* 👈 espacio entre columnas */
    justify-items: center;
    align-items: start;
    height: auto;          /* 👈 clave */
    min-height: auto;      /* 👈 por seguridad */
    overflow: visible;     /* 👈 importante también */
  }

  .btn-3d {
    width: 100%;
    max-width: 160px;
    height: auto;
    margin: 0;
    padding: 8px 12px;
  }
}

body {
  background: url("./IMG/fondo.png") center center / cover no-repeat;
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    background: url("./IMG/fondo-mobile1.png") center center / cover no-repeat;
    margin-top: 180px;
  }
}

/* Imagen responsive */
.fondo {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  object-fit: cover; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Botones encima de la imagen */
.btn-3d {
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);


  padding: 15px 40px;
  font-size: clamp(12px, 1.5vw, 18px);
  border: none;
  border-radius: 12px;
  background: rgb(36, 76, 86);
  color: white;
  cursor: pointer;

  box-shadow: 0 8px 0 rgb(49,68,72);
}
@media (max-width: 1200px) {
  .btn-3d {
    transform: scale(0.9);
  }
}

@media (max-width: 992px) {
  .btn-3d {
    transform: scale(0.8);
  }
}


.btn-3d:active {
  transform: translate(-50%, -42%);
  box-shadow: 0 0 0 rgb(49,68,72);
}

#acerca {
  position: absolute;
  top: 30%;
  left: 85%;
  transform: translate(-50%, -50%);
}

#proyectos {
  position: absolute;
  top: 40%;
  left: 85%;
  transform: translate(-50%, -50%);
}

#habilidades {
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}
#contacto {
  position: absolute;
  top: 60%;
  left: 85%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .btn-3d,
  #acerca,
  #proyectos,
  #habilidades,
  #contacto {
    position: static;
    transform: none;
    margin: 15px auto;
    display: block;
    
    padding: 8px 18px;
    font-size: 0.85rem;
  }
}

/* Fondo oscuro */
.modal {
  display: none;               /* oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: transparent;
  justify-content: center;
  align-items: center;

}

/* Caja del modal */
.modal-contenido {
  background: rgb(36, 76, 86);
  color: bisque;
  padding: 30px;
  border-radius: 12px;
  max-width: 650px;
  position: relative;
  animation: aparecer 0.5s ease-in-out;
  top: 0px;
  left: -20%;
}

@media (max-width: 768px) {
  .modal {
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow-y: auto;
  }

  .modal-contenido {
    left: 0;             /* 👈 quitamos desplazamiento */
    position: static;    /* 👈 deja que flex lo centre */
    width: 100%;
    max-width: 95%;
    max-height: 100dvh;
    overflow-y: auto;
    margin-top: 220px;
    font-size: 0.9rem !important;
    border-radius: 0;
  }
}

@media (max-width: 768px) {
  .modal-contenido h5,
  .modal-contenido h2{
    font-size: 1.2rem;
  }
  .modal-contenido h6,
  .modal-contenido h3,
  .modal-contenido botton,
  .modal-contenido label {
    font-size: 0.9rem;
  }
}


/* Botón cerrar */
.cerrarModal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

.cerrar {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* Animación */
@keyframes aparecer {
  from {
    transform: scale(3);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.columnas-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#imgModal{
  width: 400px;
  height: 260px;
}
#imgModalImp{
  width: 200px;
  height: 150px;
}

#imgModal,
#imgModalImp {
  max-width: 100%;
  height: auto;
}

.col-texto {
  flex: 1;               
}

h2{
  background-color: bisque;
  color: black;
}

.pagina {
  display: none;
}

.pagina.activo {
  display: block;
}

.acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.acciones button{
  background-color: transparent;
  color: bisque;
}

.oculto{
  visibility: hidden;
}

.datos {
  border: 2px solid rgb(4, 4, 49);
  border-radius: 25px;
  padding: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form-control{
  background-color:rgb(194, 176, 176);
}

.btn-enviar {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  background: rgb(36, 76, 86);
  color: bisque;
  cursor: pointer;
  box-shadow: 0 8px 0 rgb(49,68,72);
}

.btn-enviar:active {
  box-shadow: 0 0 0 rgb(49,68,72);
}

.sin-fondo-title{
  background: none!important;

}

@media (max-width: 768px){
  .columnas-3 {
    grid-template-columns: 1fr;
}
}